<div class="container">
  <h2>会員一覧</h2>
  <div><%= flash[:notice] %></div>
  <div class="row">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <th>会員ID</th>
        <th>
          会員名<br>
          会員名（カナ）
        </th>
        <th>メールアドレス</th>
        <th>会員ステータス</th>
        <th></th>
      </thead>
      <% @members.each do |member| %>
      <tbody>
        <tr>
          <td><%= member.id %></td>
          <td>
            <%= member.name %><br>
            <%= member.name_kana %>
          </td>
          <td><%= member.email %></td>
          <td><%= member.member_status %></td>
          <%= form_with model: member, url: admin_member_path(member.id), method: :patch do |f| %>
          <td>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :member_status, "入会中", value: :true, class: 'active' %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :member_status, "退会済み", value: :false, class: 'inactive' %><br>
            <%= f.submit "ステータス変更", class:"btn btn-sm btn-success" %>
          </td>
          <% end %>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>