<div class="container">
  <h2>会員一覧</h2>
  <div><%= flash[:notice] %></div>
  <div class="row">
    <table class="table table-bordered">
      <thead class="thead-info">
        <th style="width: 10%;">会員ID</th>
        <th style="width: 20%;">会員名<br>会員名（カナ）</th>
        <th style="width: 30%;">メールアドレス</th>
        <th style="width: 20%;">会員ステータス</th>
        <th style="width: 20%;"></th>
      </thead>
      <% @members.each do |member| %>
      <tbody>
        <tr>
          <td><%= member.id %></td>
          <td>
            <%= member.name %><br>
            <%= member.name_kana %>
          </td>
          <td><%= member.email %></td>
          <td><%= member.member_status %></td>
          <td><%= link_to "詳細", admin_member_path(member.id), class: "btn btn-info" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>

<style>
  .thead-info th {
    background-color: #191970; /* 青色に設定 */
    color: white; /* テキストの色を白色に設定 */
  }
</style>