<div class="container">
  <h2>会員一覧</h2>
  <div><%= flash[:notice] %></div>
  <div class="row">
    <table class="table table-bordered">
      <thead class="thead-info">
        <th style="width: 10%;">会員ID</th>
        <th style="width: 20%;">会員名<br>会員名（カナ）</th>
        <th style="width: 30%;">メールアドレス</th>
        <th style="width: 20%;">会員ステータス</th>
        <th style="width: 20%;"></th>
      </thead>
      <% @members.each do |member| %>
      <tbody>
        <tr>
          <td><%= member.id %></td>
          <td>
            <%= member.name %><br>
            <%= member.name_kana %>
          </td>
          <td><%= member.email %></td>
          <td><%= member.member_status %></td>
          <%= form_with model: member, url: admin_member_path(member.id), method: :patch do |f| %>
          <td>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :member_status, "入会中", value: :true, class: 'active' %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :member_status, "退会済み", value: :false, class: 'inactive' %><br>
            <%= f.submit "ステータス変更", class:"btn btn-sm btn-success" %>
          </td>
          <% end %>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>

<style>
  .thead-info th {
    background-color: #191970; /* 青色に設定 */
    color: white; /* テキストの色を白色に設定 */
  }
</style>