<div class="container">
  <h2>会員一覧</h2>
  <div><%= flash[:notice] %></div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <th>会員ID</th>
        <th>会員名</th>
        <th>会員名（カナ）</th>
        <th>会員ステータス</th>
        <th></th>
      </thead>
      <% @members.each do |member| %>
      <tbody>
        <td><%= member.id %></td>
        <td><%= member.first_name %><%= member.last_name %></td>
        <td><%= member.first_name_kana %><%= member.last_name_kana %></td>
        <%= form_with model: member, url: admin_member_path(member.id), method: :patch do |f| %>
        <td>
          <%= f.radio_button :member_status, :true %>
          <%= f.label :member_status, "入会中", value: :true, class: 'active' %><br>
          <%= f.radio_button :member_status, :false %>
          <%= f.label :member_status, "退会済み", value: :false, class: 'inactive' %>
        </td>
        <td><%= f.submit "ステータス変更", class:"btn btn-sm btn-success" %></td>
        <% end %>
      </tbody>
      <% end %>
    </table>
  </div>
</div>