<div class="container py-5">
  <h2>会員情報</h2>
  <div><%= flash[:notice] %></div>
  <div class="row">
    <table class="table table-bordered">
      <thead class="thead-info">
        <th style="width: 10%;">会員ID<br>(企業ID)</th>
        <th style="width: 20%;">会員名<br>会員名（カナ）</th>
        <th style="width: 30%;">メールアドレス</th>
        <th style="width: 20%;">会員ステータス</th>
        <th style="width: 20%;"></th>
      </thead>
      <tbody>
        <tr>
          <td><%= @member.id %><br>（ <%= link_to @member.company.id, admin_company_path(@member.company.id) %> ）</td>
          <td>
            <%= @member.name %><br>
            <%= @member.name_kana %>
          </td>
          <td><%= @member.email %></td>
          <td><%= @member.member_status %></td>
          <td>
            <% if @member.is_active == true %>
              <%= form_with model: @member, url: admin_member_path(@member), method: :patch do |f| %>
                <%= f.hidden_field :is_active, value: false %>
                <%= f.submit "退会済みに変更", class: "btn btn-sm btn-danger" %>
              <% end %>
            <% else %>
              <%= form_with model: @member, url: admin_member_path(@member), method: :patch do |f| %>
                <%= f.hidden_field :is_active, value: true %>
                <%= f.submit "入会中に変更", class: "btn btn-sm btn-success" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
.container {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.thead-info th {
  background-color: #191970;
  color: white;
}

th, td {
  text-align: center;
  align-content: center;
}

.pagination {
  justify-content: center;
}
</style>