<div class="container py-3">
  <h2>企業情報編集</h2>

  <table class="table table-borderless">
  <%= form_with model: @company, url: company_path(company.id), method: :patch do |f| %>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>企業名</th>
      <td><%= f.text_field :company, autofocus: true %></td>
    </tr>
    <tr>
      <th>企業名(カナ)</th>
      <td><%= f.text_field :company_kana %></td>
    </tr>
    <tr>
      <th>業種</th>
      <td><%= f.select :genre, Company.genres.keys, class: 'form-control' %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= f.text_field :post_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <th>設立年月日</th>
      <td><%= f.text_field :date_of_establishment %></td>
    </tr>
    <tr>
      <th>紹介</th>
      <td><%= f.text_area :introduction, class: "form-control", style: "width:100%", rows: "3" %></td>
    </tr>

    <tr>
      <th>電話番号</th>
      <td><%= f.text_field :tel %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit '変更を保存', class: 'btn btn-success' %></td>
    </tr>
  <% end %>
  </table>
</div>