<div class="container py-5">
  <h2>企業一覧</h2>
  <div class="row">
    <table class="table table-borderbottom">
      <thead class="thead-info">
        <th style="width: 20%;">＜企業ID＞</th>
        <th style="width: 30%;">＜写真＞</th>
        <th style="width: 30%;">＜企業名＞</th>
        <th style="width: 20%;">＜業種＞</th>
      </thead>
      <% @companies.each do |company| %>
        <% if company.is_active %>
        <tbody>
          <tr>
            <td><%= company.id %></td>
            <td>
              <% if company.image.attached? %>
                <%= image_tag company.image, size: "150x150" %>
              <% else %>
                <%= image_tag 'company_free.jpg', size: "150x150" %>
              <% end %>
            </td>
            <td><%= link_to company.company, company_path(company.id) %></td>
            <td><%= company.genre %></td>
          </tr>
        </tbody>
        <% end %>
      <% end %>
    </table>
    <div><%= paginate @companies %></div>
  </div>
</div>

<style>
.container {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.thead-info th {
  background-color: #191970; /* 青色に設定 */
  color: white; /* テキストの色を白色に設定 */
}

th, td {
  text-align: center;
  align-content: center;
}

.pagination {
  justify-content: center;
}
</style>