<div class="container">
  <h2>企業一覧</h2>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <th></th>
        <th>企業＃</th>
        <th>企業名</th>
        <th>業種</th>
      </thead>
      <% @companies.each do |company| %>
        <% if company.is_active %>
        <tbody>
          <tr>
            <td>
              <% if company.image.attached? %>
                <%= image_tag company.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'company_free', size: "200x200" %>
              <% end %>
            </td>
            <td><%= company.id %></td>
            <td><%= link_to company.company, company_path(company.id) %></td>
            <td><%= company.genre %></td>
          </tr>
        </tbody>
        <% end %>
      <% end %>
    </table>
  </div>

</div>