<div class="container">
  <h2>新規企業登録</h2>

  ここに企業検索＋企業検索結果出したい

  <div><%= flash[:notice] %></div>

  <table class="company_info company_form">
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= form_with model: @company do |f| %>
    <tr>
      <td>企業写真</td>
      <td></td>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <td>企業名</td>
      <td></td>
      <td><%= f.text_field :company, :placeholder =>"株式会社企業名" %></td>
    </tr>
    <tr>
      <td>企業名(カナ)</td>
      <td></td>
      <td><%= f.text_field :company_kana, :placeholder =>"カ）キギョウメイ" %></td>
    </tr>
    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td></td>
      <td><%= f.text_field :post_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td></td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td>電話番号(ハイフンなし)</td>
      <td></td>
      <td><%= f.text_field :tel %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td></td>
      <td><%= f.email_field :email, autocomplete: "email" %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= f.submit '新規登録', class: "btn btn-success" %></td>
    </tr>
    <% end %>
  </table>
</div>