<div class="container py-3">

  <h2>
    企業情報
  </h2>

  <table class="table table-borderless">
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <td><企業写真載せたい></td>
    </tr>
    <tr>
      <th>企業ID</th>
      <td><%= @company.id %></td>
    </tr>
    <tr>
      <th>企業名</th>
      <td><%= @company %></td>
    </tr>
    <tr>
      <th>企業名(カナ)</th>
      <td><%= @company_kana %></td>
    </tr>
    <tr>
      <th>業種</th>
      <td><%= @company.genre %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @company.post_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @company.address %></td>
    </tr>
    <tr>
      <th>設立年月日</th>
      <td><%= @company.date_of_establishment %></td>
    </tr>
    <tr>
      <th>紹介</th>
      <td><%= @company.introduction %></td>
    </tr>

    <tr>
      <th>電話番号</th>
      <td><%= @company.tel %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @company.email %></td>
    </tr>
    <% @comments.each do |comment| %>
    <tr>
      <td><%= @comment.comment %></td>
      <td>
        <% if @comment.favorited_by?(current_user) %>
        <p>
          <%= link_to comment_favorites_path(@comment), method: :delete do %>
            <%= @comment.favorites.count %> いいね
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to comment_favorites_path(@comment), method: :post do %>
            <%= @comment.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
