<div class="container">
  <h2>企業一覧</h2>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <th></th>
        <th>企業＃</th>
        <th>企業名</th>
        <th>業種</th>
        <th>ステータス</th>
      </thead>
      <% @companies.each do |company| %>
      <tbody>
        <td>
          <% if company.image.attached? %>
            <%= image_tag company.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'company_free', size: "200x200" %>
          <% end %>
        </td>
        <td><%= company.id %></td>
        <td><%= link_to company.company, admin_company_path(company.id) %></td>
        <td><%= company.genre %></td>
        <td>
          <% if company.is_active %>
            表示
          <% else %>
            非表示
          <% end %>
        </td>
      </tbody>
      <% end %>
    </table>
  </div>

</div>