<div class="container py-5">
  <h2>企業一覧</h2>
  <div class="row">
    <table class="table table-borderbottom">
      <thead class="thead-info">
        <th style="width: 10%;">＜企業ID＞</th>
        <th style="width: 25%;">＜写真＞</th>
        <th style="width: 25%;">＜企業名＞</th>
        <th style="width: 15%;">＜業種＞</th>
        <th style="width: 15%;">＜ステータス＞</th>
      </thead>
      <% @companies.each do |company| %>
      <tbody>
        <td><%= company.id %></td>
        <td>
          <% if company.image.attached? %>
            <%= image_tag company.image, size: "150x150" %>
          <% else %>
            <%= image_tag 'company_free.jpg', size: "150x150" %>
          <% end %>
        </td>
        <td><%= link_to company.company, admin_company_path(company.id) %></td>
        <td><%= company.genre %></td>
        <td>
          <% if company.is_active %>
            表示
          <% else %>
            非表示
          <% end %>
        </td>
      </tbody>
      <% end %>
    </table>
    <div><%= paginate @companies %></div>
  </div>
</div>

<style>
  .thead-info th {
    background-color: #191970; /* 青色に設定 */
    color: white; /* テキストの色を白色に設定 */
  }

  th, td {
    text-align: center;
    align-content: center;
  }

  .pagination {
    justify-content: center;
  }
</style>