<div class="container py-5">
  <h3>コメント一覧</h3>
  <div>コメント数：<%= company.comments.count %>件</div>

  <table class="table table-borderbottom">
    <thead class="thead-info">
      <tr>
        <th class="text-center" style="width: 20%;">投稿日</th>
        <th style="width: 60%;">コメント内容</th>
        <th class="text-center" style="width: 20%;">いいね</th>
      </tr>
    </thead>
    <% @comments.each do |comment| %>
      <% if comment.is_active %>
      <tr>
        <td class="text-center"><%= comment.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= comment.comment %></td>
        <td class="text-center">
          <% if comment.favorited_by?(current_member) %>
            <p>
              <%= link_to comment_favorites_path(comment), method: :delete do %>
                <%= comment.favorites.count %> いいね
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to comment_favorites_path(comment), method: :post do %>
                <%= comment.favorites.count %> いいね
              <% end %>
            </p>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </table>
  <div><%= paginate @comments %></div>
</div>

<style>
  .thead-info {
    background-color:#00CED1;
  }

  .pagination {
    justify-content: center;
  }
</style>