<div class="container py-5">
  <h2>コメント一覧</h2>
  コメント数：<%= @company.comments.count %>件

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>投稿日</th>
        <th>コメント内容</th>
        <th></th>
      </tr>
    </thead>
    <% @company.comments.each do |comment| %>
      <tr>
        <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= comment.comment %></td>
        <td>
          <% if comment.favorited_by?(current_member) %>
            <p>
              <%= link_to comment_favorites_path(comment), method: :delete do %>
                <%= comment.favorites.count %> いいね
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to comment_favorites_path(comment), method: :post do %>
                <%= comment.favorites.count %> いいね
              <% end %>
            </p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

</div>