<div class="container py-5">
  <h2>コメント投稿</h2>
  <div><%= flash[:notice] %></div>
  <%= form_with model: @comment, url: company_comments_path(@company) do |f| %>
    <%= f.hidden_field :company_id, value: params[:company_id] %>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-offset-1"></div>
      <div class="col-md-7"></div>
    </div>
    <div class="row p-3">
      <div class="col-md-2 title">コメント入力</div>
      <div class="col-offset-1"></div>
      <div class="col-md-7"><%= f.text_area :comment, class: "form-control", rows: "5" %></div>
    </div>
    <div class="row p-3">
      <div class="col-md-2"></div>
      <div class="col-offset-1"></div>
      <div class="col-md-7"><%= f.submit "投稿", class: "btn btn-primary" %></div>
    </div>
  <% end %>
</div>

<style>
.container {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-weight: bold;
}
</style>