<div class="container py-5">
  <div class="row">
    <% @entries.each do |e| %>
      <h3><strong><a href="/members/<%= e.member.id %>"><%= e.member.first_name %> <%= e.member.last_name %> さん</a></strong>と</h3>
    <% end %>
    <h3>のDM</h3>
  </div>
</div>

<div class="container py-5">
  <div><%= flash[:notice] %></div>
  <table class="table table-borderless" >
    <tr>
      <th>発言者</th>
      <th>メッセージ内容</th>
      <th></th>
    </tr>
    <% @messages.each do |m| %>
    <tr>
      <td><%= m.member.first_name %><%= m.member.last_name %>さん</td>
      <td><%= m.body %></td>
      <% if m.member_id == current_member.id %>
      <td><%= link_to "削除", message_path(m.id, message: { id: m.id, room_id: @room.id }), method: :delete, class: 'btn btn-danger' %></td>
      <% end %>
    </tr>
    <% end %>
  </table>


  <%= form_with model: Message do |f| %>
    <%= f.text_field :body, :placeholder => "メッセージを入力して下さい" , class: "form-control", style: "width:100%", rows: "5" %>
    <%= f.hidden_field :room_id, :value => @room.id %><br>
    <%= f.submit "送信する" %>
  <% end %>
</div>

