<div class="container py-5">
  <div class="row">
    <% @entries.each do |e| %>
      <h3><strong><%= e.member.name %>さん</strong></h3>
    <% end %>
    <h3>の会話</h3>
  </div>
</div>

<div class="container py-5">
  <div><%= flash[:notice] %></div>
  <table class="table table-borderless" >
    <tr>
      <th>発言者</th>
      <th>日時</th>
      <th>メッセージ内容</th>
      <th></th>
    </tr>
    <% @messages.each do |m| %>
    <tr>
      <td><%= m.member.name %>さん</td>
      <td><%= m.created_at.strftime("%m/%d [%H:%M]") %></td>
      <td><%= m.body %></td>
      <% if m.member_id == current_member.id %>
      <td><%= link_to "削除", message_path(m.id, message: { id: m.id, room_id: @room.id }), method: :delete, class: 'btn btn-danger' %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <div>
    <%= form_with model: Message do |f| %>
      <%= f.text_field :body, :placeholder => "メッセージを入力して下さい" , class: "form-control", style: "width:100%", rows: "5" %>
      <%= f.hidden_field :room_id, :value => @room.id %><br>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>

<style>
.container {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
</style>