<div class="container">
  <h2>お知らせ一覧</h2>
  <div class="text-right"><%= link_to "新規投稿", new_admin_announcement_path, class: "btn btn-success" %></div>
  お知らせ数：<%= @announcements.count %>件

  <div><%= flash[:notice] %></div>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>投稿日</th>
        <th>内容</th>
        <th>公開 / 非公開</th>
        <th>編集 / 削除</th>
      </tr>
    </thead>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          <%= announcement.title %><br>
          <%= announcement.body %>
        </td>
        <td>
          <%= form_with model: announcement, url: admin_announcement_path(announcement.id), method: :patch do |f| %>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "公開", value: :true, class: 'active' %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "非公開", value: :false, class: 'inactive' %><br>
            <%= f.submit 'ステータスを保存', class: 'btn btn-primary' %>
          <% end %>
        </td>
        <td>
          <%= link_to "編集", edit_admin_announcement_path(announcement.id), class: "btn btn-success" %>
          <%= link_to "削除", admin_announcement_path(announcement.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>