<div class="container py-5">
  <h2>お知らせ管理</h2>
  <div class="text-right"><%= link_to "新規投稿", new_admin_announcement_path, class: "btn btn-primary" %></div>
  <p>お知らせ数：<%= @announcements.count %>件</p>
  <div><%= flash[:notice] %></div>

  <table class="table table-bordered">
    <thead class="thead-info">
      <tr>
        <th style="width: 70%;">[件名] 本文</th>
        <th class="position" style="width: 15%;">公開 / 非公開</th>
        <th class="position" style="width: 15%;">編集 / 削除</th>
      </tr>
    </thead>
    <% @announcements.each do |announcement| %>
    <tbody>
      <tr>
        <td class="md-6 text-position">
          [<strong><%= announcement.title %></strong>]<br>
          <%= announcement.body %><br>
        </td>
        <td class="position">
          <% if announcement.is_active == true %>
            <%= form_with model: announcement, url: admin_announcement_path(announcement), method: :patch do |f| %>
              <%= f.hidden_field :is_active, value: false %>
              <%= f.submit "非表示に変更", class: "btn btn-sm btn-secondary" %>
            <% end %>
          <% else %>
            <%= form_with model: announcement, url: admin_announcement_path(announcement), method: :patch do |f| %>
              <%= f.hidden_field :is_active, value: true %>
              <%= f.submit "表示に変更", class: "btn btn-sm btn-info" %>
            <% end %>
          <% end %>
        </td>
        <td class="position">
          <%= link_to "編集", edit_admin_announcement_path(announcement.id), class: "btn btn-success" %>
          <%= link_to "削除", admin_announcement_path(announcement.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <div><%= paginate @announcements %></div>
</div>

<style>
.container {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.thead-info {
  background-color: #FF8C00;
  color: white;
}

.text-position {
  text-align: start;
}

.position {
  text-align: center;
  align-content: center;
}

.pagination {
  justify-content: center;
}
</style>