<div class="container py-5">
  <div class="row">
    <h2>お知らせ登録</h2>
  </div>

  <%= form_with model: @announcement, url: admin_announcements_path do |f| %>
    <div class="row p-3 form-label">
      <div class="col-sm-2"><strong>件名</strong></div>
      <div class="col-md-5"><%= f.text_field :title, class: "form-control", style: "width:100%" %></div>
    </div>
    <div class="row p-3 form-label">
      <div class="col-sm-2"><strong>内容</strong></div>
      <div class="col-md-7"><%= f.text_area :body, class: "form-control", rows: "5" %></div>
    </div>
    <div class="row p-3 form-label">
      <div class="col-sm-2 title"><strong>公開/非公開</strong></div>
      <div class="col-md-5">
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "公開", value: :true, class: 'active' %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "非公開", value: :false, class: 'inactive' %><br>
        <%= f.submit "新規登録", class:"btn btn-sm btn-success"%>
      </div>
    </div>
  <% end %>
</div>

<style>
.container {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
</style>