<div class="container py-5">
  <div><%= flash[:notice] %></div>
  <div class="row">
    <div class="col-md-5">
      <table class="table table-borderbottom">
        <thead class="thead-info">
          <th style="width: 40%;">新着企業</th>
          <th style="width: 60%;"></th>
        </thead>
        <% @companies.each do |company| %>
          <% if company.is_active == true %>
          <tbody>
            <td class="position">
              <% if company.image.attached? %>
                <%= image_tag company.image.jpg, size: "150x150" %>
              <% else %>
                <%= image_tag 'company_free.jpg', size: "150x150" %>
              <% end %>
            </td>
            <td class="position">
              <% if member_signed_in? %>
                <%= link_to company.company, company_path(company) %><br><%= company.genre %>
              <% elsif admin_signed_in? %>
                <%= link_to company.company, admin_company_path(company) %><br><%= company.genre %>
              <% else %>
                <%= link_to company.company, new_member_session_path %><br><%= company.genre %>
              <% end %>
            </td>
          </tbody>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="offset-md-1"></div>

    <div class="col-md-6">
      <div class="row">
        <table class="table table-borderless">
          <tr class="thead-warning" >
            <th>新着お知らせ</th>
            <th></th>
          </tr>
          <tr class="border-bottom">
            <th style="width: 40%;"><更新日付></th>
            <th style="width: 60%;"><件名></th>
          </tr>
          <% @announcements.each do |announcement| %>
            <% if announcement.is_active == true %>
            <tr class="border-bottom">
              <td><%= announcement.created_at.strftime('%Y/%m/%d') %></td>
              <td ><%= link_to announcement.title, announcements_path %></td>
            </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  .thead-info th {
    background-color: #191970; /* 青色に設定 */
    color: white; /* テキストの色を白色に設定 */
    text-align: center;
    align-content: center;
  }

  .position {
    text-align: center;
    align-content: center;
  }

  .thead-warning th {
    background-color: #FF8C00;
    color: white;
  }
</style>