<div class="container py-5">
  <p><strong>会員情報編集</strong></h3>

  <%= form_with model: @member, url: member_path(@member), method: :patch do |f| %>
    <%= render "member/shared/error_messages", resource: @member %>
    <div class="member_info box-name">
      <strong>名前</strong><br>
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="member_info box-name">
      <strong>名前(カナ)</strong><br>
      <%= f.text_field :name_kana %>
    </div>
    <div class="member_info box-email">
      <strong>メールアドレス</strong><br>
      <%= f.email_field :email, style: "width:30%" %>
    </div>
    <div class="box-action">
      <%= f.submit "更新する", class: "btn btn-primary" %>
      <%= link_to "退会画面へ", members_check_path, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>

<style>

  p {
    margin: 10px;
    height: 40px;
    padding: 7px;
    background-color: #17a2b8;
    color: white;
  }

  .box-name {
    margin: 10px;
  }

  .box-email {
    margin: 10px;
  }

  .box-action {
    margin: 10px;
    border-style: none;
    height: 31px;
  }

</style>
