<div class="container py-5">
  <h3 class="bg">会員情報編集</h3>
  <% if @member.errors.any? %>
    <%= @member.errors.count %>件のエラーが発生しました
    <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @member, url: member_path(@member), method: :patch do |f| %>
    <div class="row py-2">
      <div class="col-md-2"><strong>名前</strong></div>
      <div class="col-offset-1"></div>
      <div class="col-md"><%= f.text_field :name, autofocus: true %></div>
    </div>
    <div class="row py-2">
      <div class="col-md-2"><strong>名前(カナ)</strong></div>
      <div class="col-offset-1"></div>
      <div class="col-md"><%= f.text_field :name_kana %></div>
    </div>
    <div class="row py-2">
      <div class="col-md-2"><strong>メールアドレス</strong></div>
      <div class="col-offset-1"></div>
      <div class="col-md"><%= f.email_field :email, style: "width:30%" %></div>
    </div>
    <div class="row py-2">
      <div class="col-md-2"></div>
      <div class="col-offset-1"></div>
      <div class="col-md">
      <%= f.submit "更新する", class: "btn btn-success" %>
      <%= link_to "退会画面へ", members_check_path, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>

<style>
.container {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

</style>

