<div class="container py-5">
  <h2>マイページ</h2>

  <div class="row">
     <h3 class="col-sm-2">企業情報</h3>
     <%= link_to "企業情報を編集する", edit_company_path(company_id), class: 'btn btn-success' %>
  </div>

  <table class="table table-borderless">
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>企業ID</th>
      <td><%= @company.id %></td>
    </tr>
    <tr>
      <th>企業名</th>
      <td><%= @company %></td>
    </tr>
    <tr>
      <th>企業名(カナ)</th>
      <td><%= @company_kana %></td>
    </tr>
    <tr>
      <th>業種</th>
      <td><%= @company.genre %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @company.post_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @company.address %></td>
    </tr>
    <tr>
      <th>設立年月日</th>
      <td><%= @company.date_of_establishment %></td>
    </tr>
    <tr>
      <th>紹介</th>
      <td><%= @company.introduction %></td>
    </tr>

    <tr>
      <th>電話番号</th>
      <td><%= @company.tel %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @company.email %></td>
    </tr>
  </table>

  <div class="row">
     <h3 class="col-sm-2">会員情報</h3>
     <%= link_to "会員情報を編集する", edit_member_registration_path, class: 'btn btn-success' %>
  </div>

  <table class="table table-bordered">
    <thead>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <th class="col-sm-2">名前:</th>
        <td class="col-sm-5"><%= @member.first_name %></td>
        <td class="col-sm-5"><%= @member.last_name %></td>
      </tr>
      <tr>
        <th class="col-sm-2">名前(カナ):</th>
        <td class="col-sm-5"><%= @member.first_name_kana %></td>
        <td class="col-sm-5"><%= @member.last_name_kana %></td>
      </tr>
      <tr>
        <th class="col-sm-2">郵便番号:</th>
        <td class="col-sm-10"><%= @member.post_code %></td>
      </tr>
      <tr>
        <th class="col-sm-2">住所:</th>
        <td class="col-sm-10"><%= @member.address %></td>
      </tr>
      <tr>
        <th class="col-sm-2">電話番号:</th>
        <td class="col-sm-10"><%= @member.tel %></td>
      </tr>
      <tr>
        <th class="col-sm-2">メールアドレス:</th>
        <td class="col-sm-10"><%= @member.email %></td>
      </tr>
    </tbody>
  </table>
</div>