<div class="container py-5">
  <div class="row">
    <h3>マイページ</h3>

    <table class="table table-borderless">
      <thead class="thead-info">
        <th><strong>企業情報</strong></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td><strong>企業写真</strong></td>
          <td>
            <% if @company && @company.image.attached? %>
              <%= image_tag @company.image, size: "200x200" %>
            <% else %>
              <%= image_tag 'company_free.jpg', size: "200x200" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><strong>企業名</strong></td>
          <td><%= @company.company %></td>
        </tr>
        <tr>
          <td><strong>企業名(カナ)</strong></td>
          <td><%= @company.company_kana %></td>
        </tr>
        <tr>
          <td><strong>業種</strong></td>
          <td><%= @company.genre %></td>
        </tr>
        <tr>
          <td><strong>郵便番号</strong></td>
          <td><%= @company.post_code %></td>
        </tr>
        <tr>
          <td><strong>住所</strong></td>
          <td><%= @company.address %></td>
        </tr>
        <tr>
          <td><strong>設立年</strong></td>
          <td><%= @company.date_of_establishment %></td>
        </tr>
        <tr>
          <td><strong>紹介</strong></td>
          <td><%= @company.introduction %></td>
        </tr>
        <tr>
          <td><strong>電話番号</strong></td>
          <td><%= @company.tel %></td>
        </tr>
        <tr>
          <td><strong>メールアドレス</strong></td>
          <td><%= @company.email %></td>
        </tr>
        <tr>
          <td></td>
          <td class="box-action">
            <%= link_to "企業情報を編集", edit_company_path(@company.id), class: 'btn btn-warning' %>
            <%= link_to "コメントを見る", comments_path(@company.id), method: :get, class: 'btn btn-primary' %>
          </td>
        </tr>
      </tbody>

      <thead class="thead-info2">
        <th><strong>会員情報</strong></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td><strong>名前</strong></td>
          <td><%= @member.name %></td>
        </tr>
        <tr>
          <td><strong>名前(カナ)</strong></td>
          <td><%= @member.name_kana %></td>
        </tr>
          <td><strong>メールアドレス</strong></td>
          <td><%= @member.email %></td>
        </tr>
        <tr>
          <td></td>
          <td class="box-action"><%= link_to "会員情報を編集", edit_member_path(@member.id), class: 'btn btn-warning' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  .thead-info th {
    background-color: #191970;
    color: white;
  }

  .thead-info2 th {
    background-color: #191970;
    color: white;
    margin-top: 20px;
  }

  .box-action {
    border-style: none;
    height: 31px;
  }

</style>