<div class="container py-5">
  <div class="row">
    <h2>マイページ</h2>
    <table class="table table-borderless">
      <thead class="thead-info">
        <th class="col-md-4"><strong>企業情報</strong></th>
        <th class="col-md-8"></th>
      </thead>
      <tbody class="tbody-info">
        <tr>
          <th class="col-md-4"><strong>企業写真</strong></th>
          <td class="col-md-8">
            <% if @company && @company.image.attached? %>
              <%= image_tag @company.image, size: "200x200" %>
            <% else %>
              <%= image_tag 'company_free.jpg', size: "200x200" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="col-md-4"><strong>企業名</strong></th>
          <td class="col-md-8"><%= @company.company %></td>
        </tr>
        <tr>
          <th class="col-md-4"><strong>(カナ)</strong></th>
          <td class="col-md-8"><%= @company.company_kana %></td>
        </tr>
        <tr>
          <th class="col-md-4"><strong>業種</strong></th>
          <td class="col-md-8"><%= @company.genre %></td>
        </tr>
        <tr>
          <th class="col-md-4"><strong>郵便番号</strong></th>
          <td class="col-md-8"><%= @company.post_code %></td>
        </tr>
        <tr>
          <th class="col-md-4"><strong>住所</strong></th>
          <td class="col-md-8"><%= @company.address %></td>
        </tr>
        <tr>
          <th class="col-md-4"><strong>設立年</strong></th>
          <td class="col-md-8"><%= @company.date_of_establishment %></td>
        </tr>
        <tr>
          <th class="col-md-4"><strong>紹介</strong></th>
          <td class="col-md-8"><%= @company.introduction %></td>
        </tr>
        <tr>
          <th class="col-md-4"><strong>電話番号</strong></th>
          <td class="col-md-8"><%= @company.tel %></td>
        </tr>
        <tr>
          <th class="col-md-4"><strong>メール</strong></th>
          <td class="col-md-8"><%= @company.email %></td>
        </tr>
        <tr>
          <td class="col-md-4"></td>
          <td class="box-action">
            <%= link_to "企業情報を編集", edit_company_path(@company.id), class: 'btn btn-warning' %>
            <%= link_to "コメントを見る", comments_path(@company.id), method: :get, class: 'btn btn-primary' %>
          </td>
        </tr>
      </tbody>
      <thead class="thead-info">
        <th class="col-md-4"><strong>会員情報</strong></th>
        <th class="col-md-8"></th>
      </thead>
      <tbody>
        <tr>
          <th class="col-md-4"><strong>名前</strong></th>
          <td class="col-md-8"><%= @member.name %></td>
        </tr>
        <tr>
          <th class="col-md-4"><strong>(カナ)</strong></th>
          <td class="col-md-8"><%= @member.name_kana %></td>
        </tr>
          <th class="col-md-4"><strong>メール</strong></th>
          <td class="col-md-8"><%= @member.email %></td>
        </tr>
        <tr>
          <td class="col-md-4"></td>
          <td class="box-action"><%= link_to "会員情報を編集", edit_member_path(@member.id), class: 'btn btn-warning' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
.container {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.thead-info th {
  background-color: #191970; /* 青色に設定 */
  color: white; /* テキストの色を白色に設定 */
}

th, td {
  text-align: start;
  align-content: center;
}
</style>
