<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
      <% if admin_signed_in? %>
        <a href="/"><%= image_tag 'logo.jpg', size: "130x70" %></a>
      <% else %>
        <a href="/"><%= image_tag 'logo.jpg', size: "130x70" %></a>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto" >
          <% if member_signed_in? %>
            <li class="member-name text-dark text-center">
              <strong>ようこそ<%= current_member.name %>さん！</strong>
            </li>
          <!--link_toにすることでmethodがgetになる（button_toだとpostになる）-->
            <li class="nav-item">
              <%= link_to "マイページ", member_path(current_member), class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "企業一覧", companies_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'nav-link text-dark', data: { confirm: '本当にログアウトしますか？' } %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="admin-name text-dark text-center">
              <strong>管理者ログイン中</strong>
            </li>
            <li class="nav-item">
              <%= link_to "企業一覧", admin_companies_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_members_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "お知らせ管理", admin_announcements_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "登録方法", about_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "お知らせ", announcements_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "会員登録", new_member_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_member_session_path, class: 'nav-link text-dark' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
  .navbar-toggler {
  background-color: #9ACD32;
}
.navbar-toggler-icon {
  background-color: light;
}

.nav-item {
  margin-right: 10px;
  background-color: #9ACD32;
}

li {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.member-name, .admin-name {
  align-content: center;
  margin-right: 30px;

}

</style>